body {background-color: powderblue;}


.button {
    background-color: #4CAF50; /* Green */
    border-radius: 1px;
    color: white;
    padding: 15px 32px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {  
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

h1 {
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    
}
span {
    color: darkcyan;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    
    
}




.p{
    
}

.playername {
    color: black;
    font-size: 40px;
    font-weight: bolder;
    position: relative;
    left: 16%;
}

.vs {
    color: darkcyan;
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 40%;
    
}

.opponentname {
    color: darkred;
    font-size: 40px;
    font-weight: bolder;
    position: absolute;
    left: 80%;
    top: 150px;
}

.div {
    
}

.compImg {
    position: absolute;
    left: 80%;
    top: 250px;
}

.playerImg {
    position: absolute;
    left: 15%;
    top: 250px;
}

.h1 {
    
}

.winner {
    position: absolute;
    top: 60%;
    left: 30%;
}








